:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #203774;
  --lightblue: #48688d;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url(./fondo.gif);
  background-size:100% 100%;
/*   background-color: rgb(209, 199, 199);
 */  gap: 30px;
}
.header {
  display: flex;
  flex-direction: column;
  width: 859px;
  height: 928px;
  background: var(--white);
  border-radius: 40px;
  gap: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background: var(--blue);
  border-radius: 30px 30px 0px 0px;
  color: var(--white);
  font-size: 30px;
}
nav input {
  border: none;
  background: none;
  color: var(--white);
  font-size: 30px;
  font-weight: lighter;
  cursor: pointer;
}
nav input:hover {
  font-size: 50px;
}
.fecha,
.sol-turno {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.fecha {
  justify-content: center;
  margin-top: 15px;
  gap: 60px;
}
.fecha button {
  font-size: 20px;
  border: none;
  background: none;
  font-weight: lighter;
  cursor:pointer;
}
.fecha section {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0;
}
.fecha section h1 {
  font-size: 60px;
  font-weight: bolder;
  text-shadow: 6px 6px 6px gray;
}
.fecha section h3{
    margin-top: 0;
    font-size:30px
}
.sol-turno section{
    display: flex;
    flex-direction:column;
    color: var(--white);
    padding: 15px;
    line-height: 30px;
}
.sol-turno{
    display:flex;
    justify-content: space-between;
    background: var(--blue);
    border-radius:20px;
    width: 600px;
}
.sol-turno section h3{
    font-size:40px;
    text-shadow: 6px 6px 6px #323332;
}
.sol-turno section p{
font-size: 20px;
margin-top: 0;
}
.sol-turno button{
  display: flex;
  background: var(--white);
  height: 40px;
  width: 130px;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin:40px 30px 0 0;
  text-shadow: 1px 1px 1px #323332;
  box-shadow: 6px 6px 0px #1d1d19;
}
.dr{
    display:flex;
    gap: 15px;
    align-items: center;
}

.dr img {
  width: 60px;
  height:60px;
  border: 2px solid var(--lightblue);
  border-radius: 200px;
}
